body {
    margin: 0;
    padding: 0;
}

/*-------------------INICIA EL LOGIN----------------------*/

/* Estilos generales para el cuerpo del login */
.login-body {
    font-family: 'Poppins', sans-serif;
    background: url('../Imagenes/carro-login.jpg') no-repeat center center fixed; /* Ruta a la imagen de fondo */
    background-size: cover; /* La imagen cubre toda la pantalla */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-blend-mode: overlay; /* Mezcla de colores suave */
}

/* Estilos para el contenedor de login */
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    transition: transform 0.3s ease;
    margin-left: 800px; /* Ajuste por defecto para pantallas grandes */
}

/* Responsive: Ajustar el contenedor en dispositivos más pequeños */
@media (max-width: 1024px) {
    .login-container {
        margin-left: 400px; /* Ajusta el margen para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .login-container {
        margin-left: 0; /* Centra el contenedor para pantallas más pequeñas */
        width: 80%; /* Aumenta el ancho para que sea más flexible */
    }
}

@media (max-width: 480px) {
    .login-container {
        margin-left: 0; /* Centra el contenedor */
        width: 90%; /* Casi todo el ancho de la pantalla en móviles */
        padding: 2rem 1rem; /* Ajuste del padding en móviles */
    }
}

/* Estilos para el título */
.login-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #3E4E71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title i {
    margin-right: 10px;
    color: #4F5D77;
    background-color: #D1E1F0;
    padding: 0.5rem;
    border-radius: 50%;
}

/* Estilos para el formulario */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Estilos para las etiquetas */
.login-label {
    margin-bottom: 0.5rem;
    color: #4F5D77;
}

/* Estilos para los campos de entrada del login */
.login-input-field {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #4F5D77; /* Borde con contraste para mejor visibilidad */
    border-radius: 6px;
    background-color: #F8F9FA; /* Fondo gris claro para mayor visibilidad */
    font-size: 1rem;
    color: #3E4E71;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Estilos al enfocar el campo de entrada del login */
.login-input-field:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 90, 148, 0.6);
    background-color: #FFF; /* Fondo blanco al enfocar */
}

/* Estilos para el botón */
.login-button {
    padding: 0.8rem;
    background-color: #4F5D77;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #3E4E71;
}

/* Estilos para el texto del párrafo */
.login-paragraph {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #3E4E71;
}

/* Estilos para los enlaces */
.login-link {
    color: #4F5D77;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-link:hover {
    color: #3E4E71;
    text-decoration: underline;
}
/*-------------------FINALIZA EL LOGIN----------------------*/



/*-------------------INICIA EL REGISTRO----------------------*/

/* Estilos generales para el cuerpo del registro */
.registrate-body {
    font-family: 'Arial', sans-serif;
    background: url('../Imagenes/carro-registro.jpg') no-repeat center center fixed; /* Ruta a la imagen de fondo */
    background-size: cover; /* La imagen cubre toda la pantalla */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-blend-mode: overlay; /* Mezcla de colores suave */
}

/* Estilos para el contenedor de registro */
.registrate-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: transform 0.3s ease;
    margin: auto; /* Centrar horizontalmente */
}


/* Responsive: Ajustar el contenedor en dispositivos más pequeños */
@media (max-width: 1024px) {
    .registrate-container {
        margin-left: 400px; /* Ajusta el margen para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .registrate-container {
        margin-left: 0; /* Centra el contenedor para pantallas más pequeñas */
        width: 80%; /* Aumenta el ancho para que sea más flexible */
    }
}

@media (max-width: 480px) {
    .registrate-container {
        margin-left: 0; /* Centra el contenedor */
        width: 90%; /* Casi todo el ancho de la pantalla en móviles */
        padding: 2rem 1rem; /* Ajuste del padding en móviles */
    }
}

/* Estilos para el título */
.registrate-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #f9b233;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrate-title i {
    margin-right: 10px;
    color: #f9b233;
   
    padding: 0.5rem;
    border-radius: 50%;
}

/* Estilos para el formulario */
.registrate-form {
    display: flex;
    flex-direction: column;
}

/* Estilos para las etiquetas */
.registrate-label {
    margin-bottom: 0.5rem;
    color: #f9b233;
}

/* Estilos para los campos de entrada */
.registrate-input-field {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #f9b233;
    border-radius: 6px;
    background-color: #F8F9FA;
    font-size: 1rem;
    color: #111;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.registrate-input-field:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 90, 148, 0.6);
    background-color: #FFF; /* Fondo blanco al enfocar */
}

/* Estilos para el botón */
.registrate-button {
    padding: 0.8rem;
    background-color: #f9b233;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.registrate-button:hover {
    background-color: #3E4E71;
}

/* Estilos para el texto del párrafo */
.registrate-paragraph {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #111;
}

/* Estilos para los enlaces */
.registrate-link {
    color: #f9b233;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.registrate-link:hover {
    color: #3E4E71;
    text-decoration: underline;
}
/*-------------------FINALIZA EL REGISTRO----------------------*/

/*-------------------- Estilos para el header------------------- */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4F5D77; /* Color del login */
    color: white;
    position:relative;
    margin: 0;
}

.header-left h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.header-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-right ul li {
    display: inline;
}

.header-right ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-right ul li a:hover {
    text-decoration: underline;
    color: #D1E1F0; /* Mismo color del hover en login */
}


/* Ajustes para eliminar el margen entre el header y la imagen */
.main-section {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px; /* Nuevo ajuste para eliminar espacio */
}

.referential-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    display: block;
    object-fit: cover;
    padding: 0;
}




.info-content {
    font-size: 1.2rem;
    color: #4F5D77; /* Texto en color similar al login */
}

/* Estilos para el footer */
.footer-section {
    text-align: center;
    padding: 10px;
    background-color: #4F5D77;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Icono */
.icono-carro {
    width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}




